/* .TodoListMax {
  flex: 1;
}
 */
.TodoList-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

ul {
    margin: 0;
    padding: 0 0 56px 0;
    list-style: none;
}

li {
  border: 4px solid #c600c9;
  border-radius: 50px;
  width: 24%;
  height: 10vh;
}

@media only screen and (max-width: 900px){
  .TodoListMax {
    width: 696px;
  }
}

@media only screen and (max-width: 600px){
  /* .TodoListMax {
    width: 85.6%;
  } */
}