.loading-skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    border-radius: 20px;
    width: 24%;
    height: 10vh;
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

.skeleton-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    gap: 4rem;
    padding: 6rem;
}